@use './variables' as *;

// Reset and Box Sizing
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  height: 100%;
}

html,
body {
  height: 100%;
  width: 100%;
  scroll-behavior: smooth;
  background-color: #f9f8f8;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

// Media Elements
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

// Form Elements
input,
button,
textarea,
select {
  font: inherit;
  border: none;
  outline: none;
  background: none;
}

// Links
a {
  text-decoration: none;
  color: inherit;
}

// Lists
ul,
ol {
  list-style: none;
}

// Optional: Scrollbar styling (if you want)
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: $primary-color;
  border-radius: 4px;
}
