@use '../../../../Styles/base/variables' as *;

.outerContainert {
  width: 56%;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 18px;
  gap: 20px;
}
.outer {
  display: flex;
  justify-content: center;
}
.pokemonlist {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 27px;
  justify-content: center;
}
.load-more {
  margin-top: 20px;
  padding: 8px 24px;
  background-color: $Header;
  color: $primary-color;
  border-radius: 25px;
  font-weight: 600;
  border: none;
  cursor: pointer;
}
